.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 360px;
  height: 472px;
  border-radius: 16px;
  padding: 32px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}

.sort {
  display: flex;
  gap: 8px;
}

.hotels {
  display: flex;
  flex-direction: column;
  gap: 16px;
}